<!DOCTYPE html>
<html>
<head>
	<title>鱼儿WEB</title>
	<link type="text/css" rel="stylesheet" href="../css/yuer-1.1.min.css" />
	<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../js/yuer-1.1.min.js"></script>
	<script type="text/javascript" src="../js/alert_msg/alert_msg.js"></script>
</head>
<body>
	<div id="yuer_iframe_body_div" class="yuer_iframe_body_div_scrollbar">
		<input type="button" onclick="showDialog1()" value="按钮显示">
		<input type="button" onclick="hideDialog1()" value="按钮隐藏">

		<div id="dialog1" class="yuer_dialog" style="width:600px;height:500px;">
			<div class="yuer_dialog_top">
				<div class="yuer_dialog_top_msg">弹出框暗示</div>
				<div class="yuer_dialog_top_cancel yuer_cancel"></div>
			</div>
			<div class="yuer_dialog_content">
				aaaaa</br>aaaaa</br>aaaaa</br>aaaaa</br>aaaaa</br>aaaaa</br>aaaaa</br>aaaaa</br>aaaaa</br>
				bbbbb</br>bbbbb</br>bbbbb</br>bbbbb</br>bbbbb</br>bbbbb</br>bbbbb</br>bbbbb</br>bbbbb</br>
				aaaaa</br>aaaaa</br>aaaaa</br>aaaaa</br>aaaaa</br>aaaaa</br>aaaaa</br>aaaaa</br>aaaaa</br>
				bbbbb</br>bbbbb</br>bbbbb</br>bbbbb</br>bbbbb</br>bbbbb</br>bbbbb</br>bbbbb</br>bbbbb</br>
			</div>
			<div class="yuer_dialog_bottom">
				<input type="button" class="yuer_button" onclick="showDialog1()" value="确定">
				<input type="button" class="yuer_button yuer_cancel" value="取消">
			</div>
		</div>
		<div id="errorDialog"></div>
	</div>

</body>
</html>